<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}" />
    {% block head %}{% endblock %}
  </head>
  <body>

    {% block content %}{% endblock %}

    {# <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}" ></script> #}
    {% block javascript %}{% endblock %}
  </body>
</html>