{% extends "base.html" %}

{% block title %}Plan10{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Last commit date</th>
    <th>Created by</th>
    <th>Assigned to</th>
    <th>&not; WIP</th>
    <th>Mergeable</th>
    <th>Milestone</th>
    <!--<th>CI Status</th>-->
  </tr>
{% for project in projects %}
  <tr class="project"><td colspan="8">{{ project.name_with_namespace|lower }} &ndash; {{ merge_requests[project.id]|length }}</td></tr>
  {% for mr in merge_requests[project.id] %}
  <tr>
    <td style="text-align:right">{{ mr.iid }}</td>
    <td><a href="{{ mr.web_url }}">{{ mr.title }}</a></td>
    <td>{{ mr.updated_at.strftime('%Y-%m-%d %H:%M') }}</td>
    <td>{{ mr.author.name }}</td>
    <td>{{ mr.assignee.name }}</td>
    <td class="center">{% if not mr.work_in_progress %}&#x2713;{% else %}&#x274c;{% endif %}</td>
    <td class="center">{% if mr.merge_status == "can_be_merged" %}&#x2713;{% else %}&#x274c;{% endif %}</td>
    <td>{% if mr.milestone %}{{ mr.milestone.title }}{% endif %}</td>
  </tr>
  {% endfor %}
{% endfor %}
</table>

{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}
