@viewport {
   width: device-width;
   zoom: 1;
}

body {
	background-color: #d1ffe0;
}
p {
	margin:0;
	padding:0;
}
table {
	margin: 0 auto;
	text-align: left;
}
th {
	text-align: center;
}
tr.project {
	font-variant: small-caps;
	text-align: center;
 	font-size: x-large;
}
.center {
	text-align: center;
}
